body {
    width: 100%;
    height: calc(100vh - 5rem);
    background-color: #6759cd;   
}
.configuration {
    background-color: #3148ad;
    width: 100%;
    height: 5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#invader {
    margin: 3rem;
    display: grid;
    grid-template-columns:repeat(8,1fr) ;
    grid-template-rows: repeat(8,1fr) ;
}
.pixel{
    height: 15px;
    width: 15px;
}
.color--grey{
    background-color: #d2dae2;
    border: #808e9b solid 2px;
}

.color--green{
    background-color: #79ea83;
    border: #65c66d solid 2px;
}

.color--yellow{
    background-color: #fbc048;
    border: #f7a835 solid 2px;
}
.color--dark{
    background-color: #485460;
    border: #1e272e solid 2px;
}
